<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
</head>
<body>
  <p id = "test"></p>
    <h1>Jokes</h1>
  <p id = randomDisplay></p>
  <form>
  <input type="text" id="myInput" placeholder="Joke Name">
    <input type="text" id="j-input" placeholder="Joke">
     <button id = "btnAdd"> ADD</button>
   </form>
  
   <div id="myDIV" class="header">
     <div id = "joke-display">
        <p>hello</p>
     </div>

     
   </div>
 
  <script src="/static/scripts/app.js"></script>
  
  
</body>

</html>
